[Unit]
Description=Zurg Real-Debrid WebDAV Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/noc/noc-homelab/linux/services/zurg/zurg --config /home/noc/noc-homelab/linux/services/zurg/config.yml
WorkingDirectory=/home/noc/noc-homelab/linux/services/zurg
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
