{
	auto_https off
}

:80 {
	handle /api/* {
		uri strip_prefix /api
		reverse_proxy api:14702
	}

	handle /ws {
		reverse_proxy events:14703
	}

	handle /autumn/* {
		uri strip_prefix /autumn
		reverse_proxy autumn:14704
	}

	handle /january/* {
		uri strip_prefix /january
		reverse_proxy january:14705
	}

	handle /gifbox/* {
		uri strip_prefix /gifbox
		reverse_proxy gifbox:14706
	}

	handle /livekit/* {
		uri strip_prefix /livekit
		reverse_proxy livekit:7880
	}

	handle {
		reverse_proxy web:5000
	}
}
