<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.noc.nzbhydra2</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/java</string>
        <string>-Xmx256M</string>
        <string>-DfromWrapper=true</string>
        <string>-Dsun.security.pkcs11.enable-solaris=false</string>
        <string>-Dfile.encoding=UTF8</string>
        <string>-Dspring.output.ansi.enabled=ALWAYS</string>
        <string>-jar</string>
        <string>/Users/noc/nzbhydra2/lib/core-7.18.0-exec.jar</string>
        <string>--datafolder</string>
        <string>/Users/noc/nzbhydra2/config</string>
        <string>--port</string>
        <string>5076</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>JAVA_HOME</key>
        <string>/Library/Java/JavaVirtualMachines/temurin-17.jdk/Contents/Home</string>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/noc/nzbhydra2/nzbhydra2.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/noc/nzbhydra2/nzbhydra2.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/noc/nzbhydra2</string>
</dict>
</plist>
